@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=VT323&display=swap');

body {
    font-family: 'Press Start 2P';
    color: #6c393c;
    margin: 0;
    padding: 0;
    background-color: #d6feff
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    grid-template-rows: 15% 1fr 5% 12%;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
.naglowek {
    background-color: #fa969b;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #8c4c4f ;
}
.krewetka {
    background-color: white;
    width: 100%;
    height: 100%;
    border-top: 5px solid #8c4c4f ;
}
.stopa {
    background-color: #fa969b;
    width: 100%;
    height: 100%;
    border-top: 5px solid #8c4c4f ;
}
.glowne {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28%;
    text-align: center;
}
.posty {
    display: grid;
    grid-template-columns: auto auto;
    flex: 1;
    margin: 2%;
    column-gap: 50px;
    position: relative;
    z-index: 1;
}
.podposty {
    display: grid;
    grid-template-rows: auto auto;
}
.stylpost {
    background-color: white;
    border: 5px solid #8c4c4f;
    border-radius: 10px;
    padding: 20px;
}
.stylglowne {
    display: flex;
    background-color: white;
    border: 5px solid #8c4c4f;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 70%;
    height: 40%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 220%;
    position: relative;
    z-index: 1;
    line-height: 1.8;
}
.bombelki {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}
.bombelki li{
    position: absolute;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: white;
    bottom: 20px;
    animation: float 6s infinite linear;
}
.bombelki li:nth-child(1){
    width: 80px;
    height: 80px;
    left: 8%;
    animation-delay: 1.5s;
}
.bombelki li:nth-child(2){
    width: 30px;
    height: 30px;
    left: 15%;
    animation-delay: 1.9s;
}
.bombelki li:nth-child(3){
    width: 60px;
    height: 60px;
    left: 35%;
    animation-delay: 1.5s;
}
.bombelki li:nth-child(4){
    width: 80px;
    height: 80px;
    left: 85%;
    animation-delay: 0.6s;
}
.bombelki li:nth-child(5){
    width: 50px;
    height: 50px;
    left: 60%;
    animation-delay: 1.2s;
}
.bombelki li:nth-child(6){
    width: 80px;
    height: 80px;
    left: 75%;
    animation-delay: 1.5s;
}
.bombelki li:nth-child(7){
    width: 50px;
    height: 50px;
    left: 20%;
    animation-delay: 1s;
}
.bombelki li:nth-child(8){
    width: 30px;
    height: 30px;
    left: 95%;
    animation-delay: 0.7s;
}
.bombelki li:nth-child(9){
    width: 60px;
    height: 60px;
    left: 90%;
    animation-delay: 1.8s;
}
.bombelki li:nth-child(10){
    width: 25px;
    height: 25px;
    left: 5%;
    animation-delay: 0.5s;
}

@keyframes float {
    from{
        transform: translateY(0);
        opacity: 1;
        border-radius: 100%;
    }
    to{
        transform: translateY(-1000px);
        opacity: 1;
        border-radius: 100%;
    }
}