@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=VT323&display=swap');
body {
    font-family: 'Press Start 2P';
    color: #6c393c;
    margin: 0;
    padding: 0;
    background-color: #d6feff;
    cursor: url('ikony/default.svg') 16 16, auto;
    min-height: 100vh;
    width: 100%;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    grid-template-rows: 15% 1fr 7% 11%;
    box-sizing: border-box;
}
.griditem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
.logo {
    display: block;    
    height: 165px;
    width: auto;
    padding-left: 30px;
    transition: transform 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
    cursor: url('ikony/pointer.svg') 16 16, auto;
}
.nawigacja {
    display: flex;
    margin-left: auto;
    padding-right: 40px;
    gap: 20px;
}
.stylnawigacja {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #6c393c;
    border: 4px solid #8c4c4f;
    border-radius: 8px;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.stylnawigacja:hover {
    transform: translateY(-10px);
    cursor: url('ikony/pointer.svg') 16 16, auto;
}
.naglowek {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fa969b;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #8c4c4f ;
    overflow: hidden;
    border-bottom: 5px solid #8c4c4f;
}
.krewetka {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-top: 5px solid #8c4c4f ;
    border-top: 5px solid #8c4c4f;
    position: relative;
    overflow: hidden;
}
.krewetkasvg {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    animation:
        chodzenie 15s linear infinite,
        bounce 0.5s cubic-bezier(0.25, 0.40, 0.40, 0.94) infinite alternate;
}
    @keyframes chodzenie {
        0% {
        left: -100px
        }
        100% {
        left: 100%
        }
    }

    @keyframes bounce {
        0% {
            bottom: 0px;
            transform: scaleX(1.1) scaleY(0.6);
        }
        100% {
            bottom: 24px;
            transform: scaleX(1) scaleY(1);
        }
}
.stopa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fa969b;
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-top: 5px solid #8c4c4f;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;
    z-index: 10;
}
.linkstopka {
    color: #6c393c;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}
.linkstopka:hover {
    color: white;
    cursor: url('ikony/pointer.svg') 8 16, auto;
}
.glowne {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28%;
    text-align: center;
}
.posty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    margin: 0 2% 2% 2%;
    column-gap: 50px;
    position: relative;
    z-index: 1;
}
.glownypost {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: white;
    border: 5px solid #8c4c4f;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.trescpost {
    margin: 0;
    padding: 20px;
    font-size: 12px;
    line-height: 1.6;
}
.naglowekpost {
    margin: 0;
    background-color: #ffc2c5;
    color: #6c393c;
    padding: 15px 20px;
    font-size: 14px;
    border-bottom: 5px solid #8c4c4f;
    width: 100%;
    box-sizing: border-box;
}
.glownypost:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0px #8c4c4f;
    cursor: url('ikony/pointer.svg') 16 16, auto;
}
.podposty {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
}
.stylpost {
    background-color: white;
    margin: 0;
    border: 5px solid #8c4c4f;
    border-radius: 10px;
    padding: 20px;
}
.stylglowne {
    display: flex;
    background-color: white;
    border: 5px solid #8c4c4f;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 70%;
    height: 40%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 220%;
    position: relative;
    z-index: 1;
    line-height: 1.8;
}
.bombelki {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}
.bombelki li{
    position: absolute;
    list-style: none;
     width: 40px;
    height: 40px;
    background-color: white;
    bottom: 20px;
    animation: float 4s infinite linear;
}
.bombelki li:nth-child(1){
    width: 80px;
    height: 80px;
    left: 8%;
    animation-delay: 1.5s;
}
.bombelki li:nth-child(2){
    width: 30px;
    height: 30px;
    left: 15%;
    animation-delay: 1.9s;
}
.bombelki li:nth-child(3){
    width: 60px;
    height: 60px;
    left: 35%;
    animation-delay: 1.5s;
}
.bombelki li:nth-child(4){
    width: 80px;
    height: 80px;
    left: 85%;
    animation-delay: 0.6s;
}
.bombelki li:nth-child(5){
    width: 50px;
    height: 50px;
    left: 60%;
    animation-delay: 1.2s;
}
.bombelki li:nth-child(6){
    width: 80px;
    height: 80px;
    left: 75%;
    animation-delay: 1.5s;
}
.bombelki li:nth-child(7){
    width: 50px;
    height: 50px;
    left: 20%;
    animation-delay: 1s;
}
.bombelki li:nth-child(8){
    width: 30px;
    height: 30px;
    left: 95%;
    animation-delay: 0.7s;
}
.bombelki li:nth-child(9){
    width: 60px;
    height: 60px;
    left: 90%;
    animation-delay: 1.8s;
}
.bombelki li:nth-child(10){
    width: 25px;
    height: 25px;
    left: 5%;
    animation-delay: 0.5s;
}

@keyframes float {
    from{
        transform: translateY(0);
        opacity: 1;
        border-radius: 100%;
    }
    to{
        transform: translateY(-1000px);
        opacity: 1;
        border-radius: 100%;
    }
}